In [5]:
import pandas as pd

df = pd.read_csv("youtube_data_150.csv")
df.head()
#loading dataset

,video_id,video_title,views,likes,comments,category
0,v1,Dress styling tips,555434,24759,1972,Travel
1,v2,Street food vlog,126360,5876,376,Education
2,v3,Simple makeup tutorial,657260,8300,615,Travel
3,v4,Coding interview questions,704725,9930,1964,Entertainment
4,v5,Python tutorial for beginners,728139,4721,632,Fashion

In [6]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   video_id     150 non-null    object
 1   video_title  150 non-null    object
 2   views        150 non-null    int64
 3   likes        150 non-null    int64
 4   comments     150 non-null    int64
 5   category     150 non-null    object
dtypes: int64(3), object(3)
memory usage: 7.2+ KB

               views         likes     comments
count     150.000000    150.000000   150.000000
mean   463328.326667  10378.026667  1082.173333
std    265652.926641   9362.682852  1264.721864
min     23063.000000    501.000000    51.000000
25%    225257.750000   3069.250000   270.500000
50%    468140.000000   7703.500000   516.500000
75%    692759.000000  15953.250000  1561.250000
max    896522.000000  42873.000000  7332.000000

In [7]:
df[df["views"] == df["views"].max()]
# most video viewd

    video_id               video_title   views  likes  comments       category
143     v144  Pubg gameplay highlights  896522  40575       832  Entertainment

In [8]:
#Category-wise Average Views
df.groupby("category")["views"].mean()

category
Education        473125.100000
Entertainment    554594.600000
Fashion          438308.866667
Food             471378.941176
Gaming           463494.958333
Health           422065.100000
Technology       398834.166667
Travel           475786.500000
Name: views, dtype: float64

In [9]:
df[["views","likes","comments"]].corr()

             views     likes  comments
views     1.000000  0.495413  0.366716
likes     0.495413  1.000000  0.767613
comments  0.366716  0.767613  1.000000